* {
	border: 1px;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	font-family: "Lucida Sans";
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 1000px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 1px;
}

.input {
	border: none;
	border-bottom: gray;
}

.postcard-footer {
	text-align: center;
}

.button {
	background-color: grey;
	padding: 1px;
}

.body-right input[type="text"] {
	font-family: "Arial";
	border-bottom: 1px solid #000;
}
